<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>V-Cine</title>
    <link rel="icon" href="favicon.png" />

    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/jsrmvi/dist/jsrmvi.min.js"></script>

    <link rel="preload" href="https://cdn.moveek.com/favicon.png" as="image" />
    <link
      rel="preload"
      href="https://assets.nflxext.com/ffe/siteui/common/icons/nficon2016.ico"
      as="image"
    />
    <link
      rel="preload"
      href="https://m.media-amazon.com/images/G/01/imdb/images-ANDW73HA/favicon_desktop_32x32._CB1582158068_.png"
      as="image"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />

    <style>
      #app {
        overflow-x: hidden;
      }

      .iframe iframe {
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
      }

      .iframe .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.626);
      }

      #contextmenu .dropdown-menu {
        transition: all 0.1s;
        width: 225px;
        overflow: hidden;
      }

      #contextmenu .dropdown-menu li a {
        padding: 2px 16px;
        font-size: 80%;
        text-decoration: none;
        color: #333;
        display: flex;
        align-items: center;
        width: 100%;
        white-space: nowrap;
      }
    </style>
  </head>
  <body class="bg-dark">
    <div id="app">
      <div
        class="container d-flex align-items-center p-3 justify-content-center border-bottom"
      >
        <div class="d-flex w-100 align-items-center">
          <input
            v-model="month"
            type="month"
            class="form-control me-2"
            @change="fetchMovies"
          />
          <div class="form-check form-switch">
            <input
              v-model="linkedOnly"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label
              class="form-check-label"
              for="flexSwitchCheckDefault"
            ></label>
          </div>
          <span class="p-2 text-white" @click="search">
            <i class="fi fi-rr-search"></i>
          </span>
        </div>
      </div>

      <div
        class="container p-3 d-grid gap-3"
        style="grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))"
      >
        <div class="card" v-for="movie in filteredMovies" :key="movie.id">
          <img
            class="card-img-top"
            :src="movie.image"
            :role="movie.video_url ? 'button':''"
            :style="{'filter': movie.video_url ? '':'grayscale(1)'}"
            @click="openLink(movie)"
            @contextmenu.prevent="showContext($event, movie)"
          />
          <div class="card-body">
            <div class="card-title fw-bold">{{movie.title}}</div>
            <div
              class="card-text small text-muted text-truncate"
              v-if="movie.english"
              :title="movie.english"
            >
              {{movie.english}}
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="card-text small text-muted">
                <template v-if="movie.release_date">
                  {{movie.release_date.split("-")[2]}}/{{movie.release_date.split("-")[1]}}
                </template>
                <template v-else>{{movie.year}}</template>
              </div>
              <template v-if="movie.video_url">
                <i
                  v-if="movie.video_url.endsWith('raw')"
                  class="fi fi-sr-closed-captioning-slash h5 mb-0 text-success"
                ></i>
                <i
                  v-else-if="movie.video_url.includes('m3u') || movie.video_url.includes('dashtype')"
                  class="fi fi-br-high-definition h5 mb-0 text-primary"
                ></i>
                <img v-else :src="getFavicon(movie.video_url)" />
              </template>
            </div>
          </div>
          <div
            v-if="contextMovieId === movie.id"
            id="contextmenu"
            @click="contextMovieId = null"
          >
            <ul
              class="dropdown-menu shadow"
              role="menu"
              aria-labelledby="dropdownMenu"
            >
              <li class="small px-2">{{movie.title}}</li>
              <li><hr class="dropdown-divider" /></li>
              <li v-if="movie.moveek_url">
                <a role="button" @click.prevent="iframeSrc = movie.moveek_url">
                  <img
                    src="https://cdn.moveek.com/favicon.png"
                    height="14"
                    class="me-1"
                  />
                  Thông tin phim (Moveek)
                </a>
              </li>
              <li v-if="movie.imdb">
                <a
                  :href="`https://imdb.com/title/${movie.imdb}`"
                  target="_blank"
                >
                  <img
                    src="https://m.media-amazon.com/images/G/01/imdb/images-ANDW73HA/favicon_desktop_32x32._CB1582158068_.png"
                    height="14"
                    class="me-1"
                  />
                  IMDB
                </a>
              </li>
              <li>
                <a
                  v-if="movie.video_url"
                  :href="resolveVideo(movie)"
                  target="_blank"
                >
                  <img
                    v-if="movie.video_url.includes('netflix')"
                    src="https://assets.nflxext.com/ffe/siteui/common/icons/nficon2016.ico"
                    height="14"
                    class="me-1"
                  />
                  <img v-else src="./favicon.png" height="14" class="me-1" />
                  Xem ngay
                  <template v-if="movie.video_url.endsWith('raw')">
                    (Chưa có phụ đề)
                  </template>
                  <template v-if="movie.video_url.includes('netflix')">
                    (Netflix)
                  </template>
                </a>
                <a v-else class="text-muted">Chưa có link xem</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div v-if="iframeSrc" class="iframe">
        <div class="background" @click="iframeSrc = null"></div>
        <iframe :src="iframeSrc"></iframe>
      </div>
    </div>

    <script>
      const { createClient } = supabase;
      const client = createClient(
        "https://oxcdjkfjxwbwjooheeqn.supabase.co",
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im94Y2Rqa2ZqeHdid2pvb2hlZXFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjY3MjU5MzAsImV4cCI6MjA0MjMwMTkzMH0.SRQlvn5BUh_NEzjMIBfETZ6GHWMQM7udm58fLQKrExc"
      );
      const { createApp, ref, onMounted, computed } = Vue;

      createApp({
        setup() {
          const movies = ref([]);
          const month = ref(new Date().toISOString().substr(0, 7));
          const linkedOnly = ref(false);
          const filteredMovies = computed(() =>
            movies.value.filter((x) =>
              linkedOnly.value ? !!x.video_url : true
            )
          );
          const iframeSrc = ref(null);
          const isAdmin = ref(false);
          const contextMovieId = ref(null);

          async function signIn() {
            const email = window.prompt("Enter email:");
            if (!email) return;

            const password = window.prompt("Enter password:");
            if (!password) return;

            try {
              await client.auth.signInWithPassword({ email, password });
              window.location.href = "/";
            } catch {
              alert("Login failed!");
            }
          }

          async function fetchMovies() {
            const date = new Date(month.value);
            const firstDay = new Date(date.getFullYear(), date.getMonth(), 1)
              .toISOString()
              .substr(0, 10);
            const lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0)
              .toISOString()
              .substr(0, 10);

            const result = await client
              .from("cinema")
              .select("*")
              .eq("hidden", false)
              .gte("release_date", firstDay)
              .lte("release_date", lastDay)
              .order("release_date")
              .order("id", { ascending: false });
            console.log(result, result.data);
            movies.value = result.data;
          }

          function openLink(movie) {
            if (isAdmin.value) {
              const url = window.prompt(
                "Enter movie URL",
                movie.video_url || ""
              );
              if (url && url !== movie.video_url) {
                updateVideoUrl(movie.id, url);
              }
            } else {
              const url = resolveVideo(movie);
              if (!url) return;
              window.open(url, "_blank");
            }
          }

          function resolveVideo(video) {
            if (!video.video_url) return;

            const url =
              (video.video_url.startsWith("/") ? window.location.href : "") +
              video.video_url;

            const uri = new URL(url);
            const _url = `${uri.origin}${uri.pathname}`;

            if (url.includes(".m3u")) {
              if (navigator.userAgent.includes("iPhone")) {
                return url;
              }

              return `/player.html?s=${_url}`;
            }

            if (url.includes("dashtype")) {
              return `/dash.html?s=${_url}`;
            }

            if (url.includes(".mp4")) {
              return `https://www.hlsplayer.net/embed?type=mp4&src=${_url}`;
            }

            return url;
          }

          async function updateVideoUrl(movieId, url) {
            const { error } = await client
              .from("cinema")
              .update({ video_url: url })
              .eq("id", movieId);

            if (error) {
              return alert(error.details);
            }

            fetchMovies();
          }

          async function search() {
            const text = jsrmvi.removeVI(window.prompt("Enter some texts"), {
              concatBy: " ",
            });
            if (!text) {
              return fetchMovies();
            }

            const result = await client
              .from("cinema")
              .select("*")
              .eq("hidden", false)
              .ilike("romanized", `%${text}%`)
              .limit(12)
              .order("release_date", { ascending: false });
            console.log(result, result.data);
            movies.value = result.data;
          }

          async function removeMovie(movie) {
            if (!isAdmin.value) return;

            const v = window.confirm("Delete this?");
            if (v) {
              const { error } = await client
                .from("cinema")
                .update({ hidden: true })
                .eq("id", movie.id);

              if (error) {
                return alert(error.details);
              }

              fetchMovies();
            }
          }

          function getFavicon(url) {
            return `http://www.google.com/s2/favicons?domain=${encodeURIComponent(
              url.replace("www.", "")
            )}&sz=16`;
          }

          function showContext({ srcElement, clientX, clientY }, movie) {
            const { x, y } = srcElement.getBoundingClientRect();

            contextMovieId.value = movie.id;
            setTimeout(() => {
              const menu = document.querySelector(
                "#contextmenu .dropdown-menu"
              );
              menu.classList.add("d-block");
              if (clientX + 225 >= window.innerWidth) {
                menu.style.left = `${window.innerWidth - x - 225}px`;
              } else {
                menu.style.left = `${clientX - x}px`;
              }

              if (clientY + 225 >= window.innerHeight) {
                menu.style.top = `${window.innerHeight - y - 225}px`;
              } else {
                menu.style.top = `${clientY - y}px`;
              }
            }, 1);
          }

          onMounted(async () => {
            if (window.location.search === "?admin") {
              return signIn();
            }

            isAdmin.value = !!(await client.auth.getUser().data);

            fetchMovies();
            window.addEventListener("keyup", (e) => {
              if (e.keyCode === 27) {
                iframeSrc.value = null;
                contextMovieId.value = null;
              }
            });

            window.addEventListener(
              "click",
              () => (contextMovieId.value = null)
            );
          });

          return {
            filteredMovies,
            month,
            linkedOnly,
            iframeSrc,
            isAdmin,
            contextMovieId,
            fetchMovies,
            openLink,
            search,
            removeMovie,
            getFavicon,
            resolveVideo,
            showContext,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
